# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/
*.userprefs
*.csproj.user

# OS-specific files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/

# Backup & temporary files
*.bak
*.tmp
*.log

# Rider-specific files
.idea/
